// Fonts
//@import 'font';

// Variables
@import 'variables';

// Mixins
@import 'mixins';
@import 'v-cloak';
@import "newmain";
@import "content";
@import "article";

.spec-header {
  color:#000d3f;
  font-size: 16pt;
  line-height: 16pt;
  font-weight: normal;
  background: url('#{$path}/header_bot_bg.jpg') repeat-x bottom right;
}
